# ignore everything but files in /nova and /novaclient
/*

/novaclient/.idea/
/nova/.idea/workspace.xml
nova/nova-api.py

!/nova
!/novaclient
!/patron-test
!/patron
!/patronclient
!/patron-config
!/tempest
!/tempest_lib

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
!/patron-config/rootdir/usr/bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
